<!DOCTYPE html>
<html lang="en" dir="ltr" class="Expand">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="Expand">
    <div class="Expand D(g) GtR(mypage)">
      <div class="box info D(f) Fd(c) Jc(Sb)">
        <div class="box logo W(25%) H(100%)">LOGO</div>
        <div class="box infoCate W(40%) H(100%) D(f) As(e)">
          <div class="info_menu">참여예정(2)</div>
          <div class="mypage info_menu">내정보</div>
          <div class="logOut info_menu">로그아웃</div>
          <div class="info_menu">(검색기능_사진)</div>
        </div>
      </div>
      <div class="H(100%)">
        <div class="profile center mypage_margin">
          <img class="Expand" src=<%= picture %>>
        </div>
        <div class="textCenter mypage_margin">
          <div> <%= userName %> 님 반갑습니다 </div>
          <button class="change" name="changeImg">프로필 사진 바꾸기</button>
        </div>
          <div class="star textCenter">
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          </div>
        <div class="textCenter"><span>내 평점 : </span><span class="grade"><%= grade %></span></div>
        <div class="textCenter mypage_margin"><button class = "modifyProfile"name="button">내정보 수정</button></div>
        <div class="textCenter mypage_margin none profile_list">
        <h4>별명 : <input type="text" value=<%= nickName %>></input></h4>
        <h4>지역 : <input type="text" value=<%= area %>></input></h4>
        <h4>자기소개 : <input type="text" value=<%= about  %>></input></h4>
        <button class="modify_button">변경 완료</button>
        <button class="cancel"> 취소 </button>
      </div>
    </div>
    </div>
    <div id="modal-manage"></div>
    <script src="/main/main.js"></script>
    <script src="/mypage/profile_photo.js"></script>
    <script src="/modal.js"></script>
    <script src="/mypage/grade.js"></script>
  </body>
</html>
